name: Mirror Repository

# This triggers the workflow on any push to any branch or tag
on:
  push:
    branches: [ "**" ]
    tags: [ "**" ]
  workflow_dispatch:

# Explicitly set permissions for the GITHUB_TOKEN (Principle of Least Privilege)
permissions:
  contents: read

jobs:
  mirror:
    # Only run this job if the repository is the source repository
    if: github.repository == 'lumtmc/lumtmc'
    runs-on: ubuntu-latest
    steps:
      - name: Mirror to target repository
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MIRROR_TOKEN: ${{ secrets.MIRROR_TOKEN }}
          REPO: ${{ github.repository }}
        run: |
          git config --global url."https://x-access-token:${GITHUB_TOKEN}@github.com/".insteadOf "https://github.com/"
          
          git clone --bare "https://github.com/${REPO}.git" mirror-repo.git
          cd mirror-repo.git
          
          git config --global --remove-section url."https://x-access-token:${GITHUB_TOKEN}@github.com/"
          
          git push --mirror "https://${MIRROR_TOKEN}@github.com/lumtmc/.github.git"